@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
  font-family: 'Nike';
  src: url('fontes/Futura\ Std\ Extra\ Bold\ Oblique.ttf');
}

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
}
body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

header {
    background: #fff;
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    z-index: 1;
}

.logo {
    display: flex;
    width: 120px;
    margin-top: 8px;
}

.logo img {
    width: 75%;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: black;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}
nav ul li a:hover {
    background: black;
    color: #fff;
}

nav ul li a.ativo {
    background: black;
    color: #fff;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.container .corpo{
    display: flex;
    background-image: url("imagens/cristianoronaldofundo.png");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 70px;
    text-align: center;
}
.corpo img {
    z-index: 100;
}
.opacidade{
    width: 100%;
    height: 100%;
    background: #000000cc;
    position: absolute;
}

.corpo img{
    margin-top: 20px;
    width: 45%;
}

.corpo h1 {
  font-family: 'Nike';
  font-size: 50px;
}

.montanhas {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.container2 .corpo2 {
    display: flex;
    flex-direction: column;
    background-image: url("imagens/teste.png");
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 100dvh;
    font-size: 25px;
    color: black;
    background-color: #fff;
}

.texto {
    display: flex;
    width: 70%;
    text-align: justify;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 {
    margin-top: 50px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.container3 p{
    font-size: 20px;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card  .row {
    color: white;
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.card  .row  .icon {
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card  .row  .description {
    display: flex;
    background: #fff;
    color: black;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('imagens/laquinta.png');
}
.card[for="c2"] {
    background-image: url('imagens/eurocopa.png');
}
.card[for="c3"] {
    background-image: url('imagens/nations.png');
}

.container4 .corpo4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("imagens/fundoconquistas.png");
    background-size: cover;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 100vh;
    font-size: 25px;
    color: black;
    background-color: #fff;
}

.container5 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.card4 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    max-height: 330px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .card4:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
      -4px -4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .cardimagem {
    width: 100%;
    height: 64%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-image: url("imagens/boladeouro.png");
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardimagem2 {
    width: 100%;
    height: 64%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-image: url("imagens/chuteiradeouro.png");
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardimagem3 {
    width: 100%;
    height: 64%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-image: url("imagens/fifathebest.png");
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-icon {
    font-size: 40px;
  }
  
  .card-title {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: white;
    cursor: default;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  
  .card-des {
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin: 0;
    font-size: 13px;
    color: white;
    cursor: default;
  }
  

  .headerfooter {
    background: #ffffff;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0;
}

.logofooter {
    display: flex;
    width: 120px;
    margin-top: 8px;
}

.logofooter img {
    width: 75%;
}

.headerfooter .logo {
    font-size: 30px;
    text-transform: uppercase;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: black;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}
nav ul li a:hover {
    background: black;
    color: #fff;
}

nav ul li a.ativo {
    background: black;
    color: #fff;
}

.containerfooter {
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}